{% extends 'base.html.twig' %}

{% block body %}


<div class="container backgroundContainer buttonNewsletter p-4">
<h3 class="text-center">Inscription aux Newsletters</h3>
<p class="text-center">cet espace réservé aux membres permet de s'eneregistrer aux newsletters <br> cocernant les différents articles de notre plateforme</p>

<div class="col-lg-9 offset-lg-3 col-sm-12 mx-auto">
    <h4 class="my-3">NEWSLETTER</h4>
    <hr class="w-150 justify-content-start">

    <div class="card w-150" style="border-radius:22px;">

            <div class="d-flex">
                <div class="column text-center my-auto">
                    <h5>Quotidienne</h5>
                    <p class="card-text">Tous les mois recevez la newsletter des articles concernant le theme.</p>
                    <a href="#" class="btn">S'ABONNER</a>
                </div>
                
                <div  id="rectangle"  style="border-radius:0px 22px 22px 0px;">   
                    <div id="triangle"></div> 
                </div>
            </div>        
    </div>
    
</div>

<h4 class="my-3">NEWSLETTER DES PÔLES</h4>
<hr>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-10 ">
        <div class="CardNewsletter text-center my-3">
            <div class="card-body">
                <h5>Innovation</h5>
                <p class="card-text">Tous les mois recevez la newsletter des articles concernant le pôle.</p>
                <a href="#" class="btn">S'ABONNER</a>
            </div>
        </div>    
    </div>
    <div class="col-lg-4 col-sm-10 ">
        <div class="CardNewsletter text-center my-3">
            <div class="card-body" >
                <h5>Evolution des métiers</h5>
                <p class="card-text">Tous les mois recevez la newsletter des articles concernant le pôle.</p>
                <a href="#" class="btn">S'ABONNER</a>
            </div>
        </div>    
    </div>
    <div class="col-lg-4 col-sm-10 my-3">
        <div class="CardNewsletter text-center">
            <div class="card-body">
                <h5>Communication Recherche & Développement</h5>
                <p class="card-text">Tous les mois recevez la newsletter des articles concernant le pôle.</p>
                <a href="#" class="btn">S'ABONNER</a>
            </div>
        </div>    
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-lg-4 col-sm-10 my-3">
        <div class="CardNewsletter text-center">
            <div class="card-body">
                <h5>Evolution des savoirs</h5>
                <p class="card-text">Tous les mois recevez la newsletter des articles concernant le pôle.</p>
                
                <a href="#" class="btn">S'ABONNER</a>
            </div>
        </div>    
    </div>
    <div class="col-lg-4 col-sm-10 my-3">
        <div class="CardNewsletter text-center">
            <div class="card-body">
                <h5>Universal Design & Inclusive Design</h5>
                <p class="card-text">Tous les mois recevez la newsletter des articles concernant le pôle.</p>
                <a href="#" class="btn">S'ABONNER</a>
            </div>
        </div>    
    </div>
    <div class="col-lg-4 col-sm-10 my-3">
        <div class="CardNewsletter text-center">
            <div class="card-body">
                <h5>Immobilier</h5>
                <p class="card-text">Tous les mois recevez la newsletter des articles concernant ce pôle.</p>
                <a href="#" class="btn">S'ABONNER</a>
            </div>
        </div>    
    </div>
  </div>
  <div class="row justify-content-around">
    
    <div class="col-lg-5 col-sm-10 my-3">
        <h4 class="my-3">NEWSLETTER VIS MA VIE</h4>
        <hr>
        <div class="CardNewsletter text-center">
            <div class="card-body">
                <h5>Annonces</h5>
                <p class="card-text">Tous les mois recevez la newsletter des articles concernant le thème.</p>
                <a href="#" class="btn">S'ABONNER</a>
            </div>
        </div>   
    </div>
    <div class="col-lg-5 col-sm-10 my-3">
        <h4 class="my-3">NEWSLETTER TEMOIGNAGE</h4>
        <hr>
        <div class="CardNewsletter text-center">
            <div class="card-body">
                <h5>Témoignage</h5>
                <p class="card-text">Tous les mois recevez la newsletter des articles concernant le thème.</p>
                <a href="#" class="btn">S'ABONNER</a>
            </div>
        </div>   
    </div>
  </div>
  <div class="my-3"></div>
</div>



{% endblock %}