{% extends 'base.html.twig' %}



{% block body %}
    <div class="myContainer mx-auto backgroundContainer mt-4 mb-4 p-4">
        <h2 class="text-uppercase text-center font-weight-bold pb-3">CHANGER DE VIE</h2>

<ul>
    <li>Pour éviter les erreurs d’orientation,</li>
    <li>pour confirmer un nouveau départ dans le cadre d’une reconversion professionnelle,</li>
    <li>pour valider une formation permettant d’exercer un nouveau métier,</li>
</ul>
<p>Il existe désormais un nouvel outil :
la <strong>PMSMP</strong>, la Période de Mise en Situation en Milieu Professionnel.</p>

<ul>
    <li>Vous êtes inscrit à Pôle Emploi ?</li>
</ul>


Vous pouvez vous renseigner auprès de votre conseiller Pôle Emploi, auprès de votre Mission locale si
vous avez moins de 26 ans, ou auprès d’un Cap Emploi si vous êtes en situation de handicap :

<div class="text-center mb-3 mt-3">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/T2CyOc9fCxQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<ul>
    <li>Vous êtes dirigeant d’une entreprise, vous pouvez proposer une <strong>PMSMP</strong> en postant
    votre annonce sur le Portail "Génération Boomerang"© :</li>
</ul>

<div class="text-center mb-3 mt-3">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wM1wBO6p_cg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<a>Au cours de la période d’immersion professionnelle, le candidat :</a>

<ul>
    <li>Conserve son indemnisation s’il est demandeur d’emploi</li>
    <li>Bénéficie d’une couverture sociale</li>
    <li>Respecte les mêmes règles que les salariés</li>
</ul>

<p>
    Alors, trouvez votre <strong>PMSMP</strong> en consultant les offres, ou votre candidat en consultant les demandes sur
    le Portail "Génération Boomerang"© et entrez en contact ensemble.</br>
</br>
    Une fois la mise en relation effectuée, et la candidature acceptée, le candidat prendra contact avec son
    conseiller Pôle Emploi pour lui soumettre son projet afin qu’il remplisse la convention.</br>
</br>
    <strong>Ensemble</strong>, avec "Génération Boomerang"© le portail numérique intergénérationnel de l'<strong>A</strong>ssociation
    <strong>B</strong>uilding <strong>S</strong>eniors©, <strong>créons du lien social et encourageons le retour à l’emploi !</strong></p>
</br>

<div class="text-center">
    <a class="p-2 font-weight-bold text-decoraton-underline" href="{{ path('account_register')}}" style="texte-decoration:underline;">S'incrire</a><a class="font-weight-bold">pour consulter les annonces Vis Ma Vie</a>
</div>
 
 </div>
{% endblock %}
