

<div class="footerBackground mt-3">

        <div class="row justify-content-between mr-0 ml-0 pt-5">
            
            <div class="textFooter col-12 col-lg-3 pb-4">
                <div class="d-flex footerNewsletters">
                    <a class="mx-auto pt-2">NEWSLETTERS</a>
                </div>
                  {# <p class="text-center">POUR NE PAS MANQUER UNE INFO</br>
                    INSCRIVEZ-VOUS À NOS NEWSLETTERS !</p>  #}
                <div class="d-flex buttonFooter pt-2">
                    <a  href="{{path('gestion_newsletter')}}"class="mx-auto btn text-center">Consultez la page</a>  
                </div>   
            </div>  

            <div class="textFooter col-12 col-lg-3 pb-4"> 
                 <div class="d-flex footerNewsletters">
                    <a class="mx-auto pt-2">DEVENEZ MEMBRE</a>
                   {# <i class="fas fa-gift fa-3x mx-auto"></i> #}
                    {# <img src="{{ asset('/img/iconePole/iconeAmpoule.png') }}" alt="generationBoomerang logo" class="pl-2 pr-3" style="width: 15%; height: auto;"> #}
                </div>
                {# <p class="text-center">OFFREZ-VOUS UN ACCÈS ILLIMITÉ</br>
                 À "GÉNÉRATION BOOMERANG"©</p>  #}
                 <div class="d-flex buttonFooter pt-2"> 
                    <a href="{{path('abonnements_index')}}" class="mx-auto btn text-center">En savoir plus</a>
                </div>
            </div>

            <div class="textFooter col-12 col-lg-3 pb-4">
                <div class="d-flex footerNewsletters">
                    <a class="mx-auto pt-2">AIDE & CONTACT</a>
                </div>
               {# <p class="text-center">N'HÉSITEZ PAS A NOUS CONTACTER</br>
                 POUR PLUS DE RENSEIGNEMENTS</p>   #}
                <div class="d-flex buttonFooter pt-2">
                    <a  class="mx-auto btn text-center">Contactez-nous</a>
                </div>
            </div>  
            <div class="col-12 col-lg-3 pb-4 textFooter">
                <div class="d-flex footerNewsletters">
                    <a class="mx-auto pt-2">INFORMATIONS</a>
                </div>
                <div class="conditionFooter pt-2 d-flex flex-column">  
                    <a target="_blank" href="/docs/Charte à l'inscription Génération Boomerang.pdf" class="mx-auto  conditionFooter">Règlement du portail "Génération Boomerang" ©</a>         
                    <a target="_blank" href="/docs/Charte ABS-GB.pdf" class=" mx-auto conditionFooter">Charte <strong>A</strong>ssociation <strong>B</strong>uilding <strong>S</strong>eniors ©</a>
                    {# <a  href="" class="mx-auto conditionFooter">Conditions Générales d’Utilisation</a>
                    <a href="" class="mx-auto  conditionFooter">Cookies</a> #}
                    
                </div> 
            </div>                

        </div>   
        <div class="pt-3">
        <hr class="hrColor"> 
        </div>
        <div class="pb-3 d-flex">
           <a class="text-center mx-auto" style="color:white;font-size:1em;">© Copyright 2020 -  <strong>A</strong>ssociation <strong>B</strong>uilding <strong>S</strong>eniors © - "Génération Boomerang" © - Tous droits réservés </a>
        </div>
</div>   

   

    

   
