{% extends 'base.html.twig' %}
 
{% block title %}{% endblock %}
 
{% block body %}
    <div class="container backgroundContainer mt-5 mb-5 p-5">
        <h1 class="text-center mb-5">Mot de passe oublié</h1>
        
        {{ form_start(emailForm, {'attr':{'class':'d-flex justify-content-center'}}) }}
            {{ form_widget(emailForm.email, {'attr':{'placeholder':'Veuillez enter votre email', 'class':'w-50 mr-2'}}) }}
            <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(emailForm) }}
    </div>
{% endblock %}