
{% block title %}{% endblock %}
 
{% block body %}
    <h4 class="mb-0">CHANGER VOTRE MOT DE PASSE</h4>
    <small>Pour votre sécurité nous vous conseillons de choisir un mot de passe unique que vous n'utilisez pour aucun autre compte en ligne</small>
    <div class="row mt-3">
        <div class="col">
            <form class="" action="{{path('app_reset_password')}}" method="post">
                <div class="col pl-0 border-right border-dark">
                <div class="form-group">
                    <label for="oldPassword">Mot de passe actuel</label>
                    <input class="form-control shadow-sm" type="password" name="oldPassword" id="oldPassword" placeholder="Entrez le mot de passe actuel" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">Nouveau mot de passe</label>
                    <input class="form-control shadow-sm" type="password" name="password" id="newPassword" placeholder="Entrez le nouveau mot de passe" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">Confirmez le nouveau mot de passe</label>
                    <input class="form-control shadow-sm" type="password" name="password" id="newPassword" placeholder="Entrez le nouveau mot de passe" required>
                </div>
            </div>
            <div class="my-3 buttonCreatePub"> 
                <button type="submit" class="btn">{{ button_label|default('Sauvegarder les modifications') }}</button>
            </div>
        </form>
        </div>
        <div class="col pl-0">
            <h6>VOTRE MOT DE PASSE</h6>
            <p>Il doit obligatoirement contenir :</p>
            <ul class="ml-0 pl-3">
                <li>de 8 à 15 caractères</li>
                <li>au moins un lettre majuscule</li>
                <li>au moins un chiffre</li>
                <li>au moins un caractère spécial: $ @ % * + - _ !</li>
            </ul>
        </div>
    </div>
{% endblock %}