{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .Apropos h6 { font-weight: bold; font-size:1.1em; text-decoration:underline;}
    .Apropos h5 { font-weight: bold; font-size:0.9em;}
    .Apropos h4 { font-weight: bold; font-size:1.8em;}
    .Apropos h2 { font-weight: bold; font-size:1.4em;}
    .AproposRond { border-radius:50%; border:solid rgb(227,108,8) 2px;padding:20p;width:150px;height:150px; }
</style>

<div class="myContainer mx-auto backgroundContainer m-4 p-5 Apropos" style="background-color:white">
    <div class="border  border-dark text-center mb-5">
        <h4><span style="color:red">A</span>ssociation <span style="color:red">B</span>uilding <span style="color:red">S</span>eniors©<br></h4>
        <h2 style="color:red;font-style:italic">PRESENTATION</h2>
        <h2 style="color:red">MARQUE</h2>
        <h2>"GENERATION BOOMERANG"©</h2>
    </div>

    <h6 style="color:rgb(227,108,8)">LE CONSTAT</h6>
    <p>Il existe une vraie fracture entre les jeunes et les ainés qui ne se parlent plus. Pourtant, chacun a beaucoup à apprendre de l’autre.<br> 
    "GENERATION BOOMERANG"© souhaite donner un sens à cette réalité en gommant cette fracture intergénérationnelle pour un mieux vivre ensemble dans  la « Cité ».</p>

    <h6 style="color:rgb(227,108,8)">NOTRE PROPOSITION</h6>
    <p>« Faire du numérique la passerelle entre le savoir des ainés et les compétences des nouvelles générations »</p>

    <h6 style="color:rgb(227,108,8)">POUR QUI ?</h6> 
    <p>Une vraie communauté intergénérationnelle, à travers un lien social entre les jeunes et les ainés</p>

    <h6 style="color:rgb(227,108,8)">COMMENT ?</h6>

    <div class="text-justify text-center px-5"><p><span style="font-weight:bold">Par une VITRINE AVANT-GARDISTE,</span><br>
    Mettant L’INNOVATION au service de LA « CITE »,<br>
    L’expérience et la vision du savoir au service d’une société INCLUSIVE,<br>
    Pour faire et mieux vivre ENSEMBLE.</p>

    <p><span style="font-weight:bold">Par l’accessibilité numérique,</span><br>
    Un media intergénérationnel passage de relais<br>
    "GENERATION BOOMERANG"©<br>
    L’Expérience du Futur</p></div>

    <p>Cette plateforme numérique Intergénérationnelle, hybride, présente :<br>
    Un réseau de compétences, véritable vivier de talents, pour faire réagir Anciens et Jeunes : c’est l’Expérience du Futur</p>

    <p>Et en même temps :<br>
    Des expériences et expérimentations, en partenariat avec l’ensemble des acteurs économiques : c’est l’Héritage du Futur</p>

    </p>Véritable force de propositions, "GENERATION BOOMERANG"© implique les acteurs de la « Cité », intéresse un vivier de pépites en adéquation avec le marché.<br>
    Par un accompagnement entre l’entreprise et la recherche d’emploi, "GENERATION BOOMERANG"© crée une communauté à travers un lien social entre les jeunes et les ainés,<br>
    Par la publication d’articles d’experts, de ses membres internautes, "GENERATION BOOMERANG"© remonte des expérimentations, des témoignages vidéo,<br> 
    Par cette interaction collaborative et participative, "GENERATION BOOMERANG"© participe a la RECONSTRUCTION DU MONDE D’APRES.</p>

    <h6 style="color:rgb(227,108,8)">QUI SOMMES-NOUS ?</h6> 

    <p>L’<span  style="font-weight:bold">A</span>ssociation <span  style="font-weight:bold">B</span>uilding <span  style="font-weight:bold">S</span>eniors©, association Loi 1901 d’intérêt général, créée en septembre 2015, a pour objet de grouper des personnes physiques ou morales dont l’activité professionnelle concerne, directement ou indirectement, les domaines de l’immobilier, du bâtiment, de l'environnement.</p>

    <p>Ses objectifs :<br>
    Faire du numérique la passerelle entre le savoir des ainés et les compétences des jeunes générations, pour générer du <span  style="font-weight:bold">lien social</span>, qu’ils soient en <span  style="font-weight:bold">activité professionnelle, au chômage ou à la retraite.</span></p>

    Fédérer les énergies, promouvoir dans ce nouveau marché, la prescription de produits, la consommation de biens et de services intergénérationnels, pour accompagner la prévention sur l’ensemble de la population quelle que soit leur nature ou leur handicap : formation, publications, colloques…</p>

    <p>Ouvrir un nouvel espace qui vise à activer et réactiver le senior en sollicitant des projets sur son savoir-faire,  faire bénéficier de leur collaboration la chaine de l’immobilier,  s’appuyer  sur les compétences et la vision des jeunes générations.</p>

    <h6 style="color:rgb(227,108,8)">L’EQUIPE et ses PÔLES : ils apportent vision, recommandations et solutions : INNOVATION &amp; AUTONOMIE</h6>
    <div class="d-flex">
        <div class="mr-5">
            <h6>Innovation : Patrick Vrignon</h6>
            <ul>
                <li>Révolution numérique : fin du corporatisme…choc frontal</li>
                <li>Innovation pour progresser : l'accélération technologique</li>
            </ul>
        </div>
        <div class="d-flex text-center AproposRond">
            <h5 class="m-auto">INNOVATION &amp; NOUVELLES TECHNOLOGIES</h5>
        </div>
    </div>
    <div class="d-flex">
        <div class="mr-5">
            <h6>Evolution des savoirs : Xavier Tournillon</h6>
            <ul>
                <li>Le leader Ship</li>
                <li>La transmission</li>
                <li>Les missions</li>
            </ul>
        </div> 
        <div class="d-flex text-center AproposRond">
            <h5 class="m-auto">EVOLUTION DES SAVOIRS</h5>
        </div>
    </div>
    <div class="d-flex">
        <div class="mr-5">
            <h6>Evolution des métiers : Francis Descamps</h6>
            <ul>
                <li>Formation : représentativité des seniors dans nos métiers</li>
                <li>Ethique</li>
                </li>Le management durable dans l'entreprise</li>
            </ul>
        </div>
        <div class="d-flex text-center AproposRond">
            <h5 class="m-auto">EVOLUTION DES METIERS</h5>
        </div>
    </div>
    <div class="d-flex">
        <div class="mr-5">
            <h6>Autonomie = « Universal Design » : Jean-Yves Prodel</h6>
            <ul>
                <li>Aider à rester chez soi : adapter le logement : touche aux métiers 
                de la plomberie, nouvelles technologies,<br> l’aide à domicile
                (Ménage, soins du corps, santé…)</li>
                <li>Résidences intergénérationnelles, adaptées et adaptables</li>
            </ul>
        </div>
        <div class="d-flex text-center AproposRond">
            <h5 class="m-auto">AUTONOMIE &amp; UNIVERSAL DESIGN</h5>
        </div>
    </div>
    <div class="d-flex">
        <div class="mr-5">
            <h6>Immobilier &amp; Silver Experience: Alain Bechade</h6>
            <ul>
                <li>Préparer une nouvelle génération à mieux comprendre l’immobilier,
            à réagir avec raison<br> et non plus seulement par émotions.</li> 
                <li>Veille juridique &amp; fiscale</li>
            </ul>
        </div>
        <div class="d-flex text-center AproposRond">
            <h5 class="m-auto">POLE IMMOBILIER &amp; SILVER EXPERIENCE</h5>
        </div>
    </div>
    <div class="d-flex">
        <div class="mr-5">
            <h6>Communication, Recherche &amp; Développement : Anne-Marie Pinsolle</h6>
            <ul>
                <li>relations internationales &amp; partenariats</li> 
                <li>Europe &amp; Méditerranée</li>
            </ul>
        </div>
        <div class="d-flex text-center AproposRond">
            <h5 class="m-auto">COMMUNICATION RECHERCHE &amp; DEVELOPPEMENT</h5>
        </div>
    </div>
    <p style="font-weight:bold">« Ce qui est important ce n’est pas d’ajouter des années à la  vie, mais d’ajouter de la vie aux années »<br><span style="font-style:italic">John Fitzgerald Kennedy</span></p>

</div>
{% endblock %}
